html, body {
    font-family: Arial;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#notesApp,
#notesApp section {
    height: 100%;
}

.claro .edgePanel {
    background-color: #d0e9fc;
}

#notesList {
    list-style-type: none;
    font-size: 1.3em;
}
#notesList {
    margin: 0;
    padding: 0;
}
#notesList li div {
    margin-right: 10px;
}

#contentEditor {
    margin-top: 5px;
}