<section
        class="notesListLayout"
        data-dojo-type="dijit/layout/BorderContainer"
        data-dojo-props="design: 'headline'">
    <div
            class="centerPanel"
            data-dojo-type="dijit/layout/ContentPane"
            data-dojo-props="region: 'center'">
        <ul id="notesList"></ul>
    </div>
    <div
            class="edgePanel"
            data-dojo-type="dijit/layout/ContentPane"
            data-dojo-props="region: 'top'">
        <button
                id="btnAddNote"
                type="button"
                data-dojo-type="dijit/form/Button"
                data-dojo-props="iconClass: 'dijitIcon dijitIconNewTask'">New note</button>
        <button
                id="btnDeleteSelectedNote"
                type="button"
                data-dojo-type="dijit/form/Button"
                data-dojo-props="iconClass: 'dijitIcon dijitIconDelete'">Delete selected</button>
    </div>
    <div
            class="edgePanel"
            data-dojo-type="dijit/layout/ContentPane"
            data-dojo-props="region: 'bottom'">
        <span
                id="notesCounter"
                data-dojo-type="dojonotes/views/widgets/Counter"
                data-dojo-props="singular: 'note', plural: 'notes'"></span>
    </div>
</section>