<div
        class="dijitDialogPaneContentArea"
        data-dojo-type="dijit/layout/ContentPane"
        data-dojo-props="region: 'center'">
    <input
            id="titleInput"
            type="text"
            name="title"
            placeholder="Note Title"
            data-dojo-type="dijit/form/TextBox"
            data-dojo-props="trim: true">
    <div
            id="contentEditor"
            data-dojo-type="dijit/Editor"
            data-dojo-props="width: '300px', height: '240px'">
    </div>
</div>
<div
        class="dijitDialogPaneActionBar"
        data-dojo-type="dijit/layout/ContentPane"
        data-dojo-props="region: 'bottom'">
    <button
            id="btnSave"
            type="button"
            data-dojo-type="dijit/form/Button">Save</button>
    <button
            id="btnCancel"
            type="button"
            data-dojo-type="dijit/form/Button">Cancel</button>
</div>