<li id="noteListItem${id}">
    <input data-dojo-type="dijit/form/CheckBox" id="noteCheckBox${id}" name="noteCheckBox${id}" value="${id}">
    <label data-dojo-type="dojonotes/views/widgets/Label" id="noteTitleLabel${id}"></label>
</li>